h4{
	line-height: 0px;
	font-size: 20px;
	color: #333;
}
p{
	font-size: 14px;
	color: #666;
}
.icon{
	
	margin-right: 15px;
}
.card{
	display: flex;
	width: 500px;
	height: 88px;
	padding 40px;
	margin 0px;
}
.row{
	display: flex;
	justify-content: space-around;
	margin: 50px 30px;
}
.container{
	display: flex;
	padding: 0px;
	height: 418px;
	width: 1000px;
	flex-direction: column;
	justify-content: space-around;
	margin: 0px auto;
	border: 1px solid #CFD8DC;
	border-radius: 9px;
}
