h1, img{
	align-content: center;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p{
	font-size: 20px;
	text-indent: 1em;
	color: rgb(3,3,3);
}
a{
	color: #0069c2;
	text-decoration:none;
}
*:not(h1)#:not(p){
	font-size: 18px;
	color: grey;
}
